.sidebar {
    background-color: #34626c;
    background-image: none;
}

#content-wrapper {
    background-color: #d6e0f0!important;
}

body {
    background-color: #34626c!important;
    background-image: none!important;
}

footer.sticky-footer {
    height: 100px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body {
    min-height: calc(100vh - 170px);
}

.toc-ky-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    padding: 48px 0;
}

.link-active {
    font-weight: 700;
    color: #34626c!important;
}

.link-active a {
    font-weight: 700;
    color: #34626c !important;
}

.sidebar {
    height: 100%;
    min-height: unset;
}

.active-link-sidebar {
    font-weight: 700;
    color: #fff!important;
}

.active-link-sidebar i {
    font-weight: 700;
    color: #fff!important;
}